{% extends "my_portfolio/base.html"%}
{% block content%}
  <h1> About me</h1>

  <div class ="container">
        <div class ="jumbotron">
       <p>Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.
        As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.</p>
    </div>     
      <h1>My Skills</h1>
        <div class="card">
                <div class="card-header">
                  Top skils
                </div>
                <div class="card-body">
                  <li class="card-text"> HTML</li>
                  <li class="card-text"> CSS</li> 
                  
          
              </div>
            </div>

        <div class="card">
                <div class="card-header">
                  Javascript
                </div>
                <div class="card-body">
                  <li class="card-title"> Javascript</li>
                  <li class="card-title"> JQuery</li> 
                  <li class="card-title"> Angular</li>
                  
              </div>
            </div>


              <div class="card">
                    <div class="card-header">
                      Back-End
                    </div>
                    <div class="card-body">
                            <li class="card-title"> python</li>
                            <li class="card-title"> PostgresSQL</li>
                            <div class="card-header">
                                    Frame-Works
                                  </div>
                            <li class="card-title"> Django</li> 
                            <li class="card-title"> flask</li>
                    </div>
                  </div>


                  <div class="card">
                        <div class="card-header">
                          Others
                        </div>
                        <div class="card-body">
                                <li class="card-title"> Github</li>
                                <li class="card-title"> Heroku</li> 
                                
                      </div>
                    </div>




{% endblock content%}



















 


