{% extends "my_portfolio/base.html"%}
{% block content%}
 <div class ="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Photo-Gallery</h5>
              <p class="card-text">This is a web application where users can view uploaded images, the date and time image was uploaded, its description and specific location where the image was taken.</p>
              <p>Developed by python (Django)</p>
              <a href="https://amirgallery.herokuapp.com/" class="btn btn-primary">view Online</a>
              <a href="https://github.com/Amiredin/photo-gallery.git" class="btn btn-primary">view on Github</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">News highlight</h5>
              <p class="card-text">News Highlight is a web application meant to catch up hard workers on the current affairs after their work.</p>
              <p>Developed by python(flask) </p>
              <a href="https://amiresh.herokuapp.com/" class="btn btn-primary">View online</a>
              <a href="https://github.com/Amiredin/News-Highlight.git" class="btn btn-primary">View on Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pitch</h5>
                <p class="card-text">this app was created to enable users to submit pitches and other users wii vote and comment on them , it also enable users to :
                  <ul>
                    <li>
                       See the pitches other people have posted.
                      </li>
                      <li>
                       To vote on the pitch they liked and give it a
                      downvote or upvote.
                    </li>
                     <li>
                       To comment on the different pitches and leave feedback.
                    .</p>
                    <p>Developed by python(flask) </p>

                    </li>
                  </ul>
                <a href="https://amirpitch.herokuapp.com/" class="btn btn-primary">View online</a>
                <a href="https://github.com/Amiredin/pitch.git" class="btn btn-primary">View on Github</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Github profile search</h5>
                <p class="card-text">This is an app that lets users search through Github for other users and also view their repositories. This is implemented using the Github APi.
                </p>
                <p>Developed using Angular JS</p>
                <a href="https://amiredin.github.io/Github-profie-search/" class="btn btn-primary">View online</a>
                <a href="https://github.com/Amiredin/Github-profie-search.git" class="btn btn-primary">View on Github</a>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Blog</h5>
                  <p class="card-text">Blog is a flask web application meant for users to post various blog contents on various categories.Registered users can create and share their opinions while other users can read and comment on the blogs.</p>
                  <p>Developed by python(flask)</p>
                  <a href="https://amirblog.herokuapp.com/" class="btn btn-primary">view online</a>
                  <a href="https://github.com/Amiredin/Blog.git" class="btn btn-primary">view on Github</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pig Dice</h5>
                  <p class="card-text">it's game between two players where each of them can roll the dice and their scores for each roll are displayed and also gives the players option to hold when their ares satisfied.</p>
                  <p>Developed using HTML and Java Script</p>
                  <a href="https://amiredin.github.io/pig-dice/" class="btn btn-primary">view Online</a>
                  <a href="https://github.com/Amiredin/pig-dice.git" class="btn btn-primary">view on Github</a>
                </div>
              </div>
            </div>
          </div>


 </div>
{% endblock content%}    
